<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>NewServlet</servlet-name>
        <servlet-class>com.test.NewServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServeletLogin</servlet-name>
        <servlet-class>com.java.miniproject.servelet.ServeletLogin</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>FacultyServeletLogin</servlet-name>
        <servlet-class>com.java.miniproject.servelet.FacultyServeletLogin</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MailSendingServelet</servlet-name>
        <servlet-class>com.java.miniproject.servelet.MailSendingServelet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>manageStudentServelet</servlet-name>
        <servlet-class>com.java.miniproject.servelet.manageStudentServelet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>logoutServelet</servlet-name>
        <servlet-class>com.java.miniproject.servelet.logoutServelet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>feedBackServelet</servlet-name>
        <servlet-class>com.java.miniproject.servelet.feedBackServelet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ChatFormServlet</servlet-name>
        <servlet-class>com.java.miniproject.servelet.ChatFormServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>FeedBackReport</servlet-name>
        <servlet-class>com.java.miniproject.servelet.FeedBackReport</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>OriginalFeedBack</servlet-name>
        <servlet-class>com.java.miniproject.servelet.OriginalFeedBack</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>NewServlet</servlet-name>
        <url-pattern>/NewServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServeletLogin</servlet-name>
        <url-pattern>/ServeletLogin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FacultyServeletLogin</servlet-name>
        <url-pattern>/FacultyServeletLogin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MailSendingServelet</servlet-name>
        <url-pattern>/MailSendingServelet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>manageStudentServelet</servlet-name>
        <url-pattern>/manageStudentServelet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>logoutServelet</servlet-name>
        <url-pattern>/logoutServelet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>feedBackServelet</servlet-name>
        <url-pattern>/feedBackServelet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ChatFormServlet</servlet-name>
        <url-pattern>/ChatFormServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FeedBackReport</servlet-name>
        <url-pattern>/FeedBackReport</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>OriginalFeedBack</servlet-name>
        <url-pattern>/OriginalFeedBack</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
